<!-- <h1>{{ nombre | titlecase }}</h1>
<h1>{{ valor | number }}</h1>
<h1>{{ obj | json }}</h1>
<button 
    pButton 
    (click)="mostrarNombre()"
    type="button" 
    label="Wenas noshes!!" 
    icon="pi pi-check" 
    iconPos="right" 
    class="p-button-help">
</button>
<p-card [header]="nombre | titlecase" subheader="Quedó mamalón">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque quis quae blanditiis odio. Harum reiciendis ipsa consequatur nobis repudiandae eveniet ipsam debitis exercitationem vel? Commodi totam corrupti quidem harum molestias!
</p-card> -->
<app-menu></app-menu>
<router-outlet></router-outlet>
